*,*::after,*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-size: 62.5%;
  font-family: 'Poppins', sans-serif;
  color: rgb(255, 255, 255);
}

h1 {
  font-size: 2.6rem;
  font-weight: normal;
}
h2 {
  font-size: 2.2rem;
  font-weight: normal;
}
h3 {
  font-size: 2rem;
  font-weight: normal;
}
h4 {
  font-size: 1.8rem;
  font-weight: normal;
}

.container {
  position: relative;
}

.container::before {
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: center/100% url(./images/cool-background.png) repeat-y;
  opacity: .8;
  content: "";
  z-index: -1;
}

a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

/* Start Nav */
nav {
  min-height: 10vh;
  display: flex;
  padding: 2rem;
  font-size: 1.6rem;
}

/* .logo {
  font-size: 2rem;
} */

ul {
  display: flex;
  list-style-type: none;
}

ul>li:first-child {
  margin-right: 2rem;
}

.nav-right {
  margin-left: auto;
}
/* End Nav */

/* Start Main */
main {
  border: 1px solid red;
  margin: 5vh 2rem;
  min-height: 80vh;
}

.weight-input-cntr {
  display: flex;
  align-items: center;
  justify-content: center;
}

.weight-input {
  border: 1px solid red;
  margin: 4rem 0 2rem 0;
  display: flex;
}

.weight-input input {
  margin-left: 2rem;
}

.goal-header-cntr {
  margin: 2rem;
  text-align: center;
}

.goal-cntr {
  display: flex;
  justify-content: space-between;
  margin: 0 2rem;
  border: 1px solid red;
}

.goal {
  text-align: center;
  border: 1px solid green;
}

/* Start Calculation Section */
.calculation-cntr {
  color: black;
  background: rgb(255, 255, 255);
  margin: auto 2rem;
  border: 1px solid red;
}

.calories-header {
  text-align: center;
  margin: 2rem;
}

.calories-amnt-cntr {
  margin-bottom: 1rem;
  text-align: center;
}

.calculation-table-cntr {
  display: flex;
  margin: 0 2rem 2rem 2rem;
  border: 1px solid black;
}

.calculation-title-cntr {
  margin-right: 2rem;
}

.calculation-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border: 1px solid red;
}

.calculation-grams {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.calculation-percentage {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/* End Calculation Section */

/* End Main */

