*,*::after,*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-size: 62.5%;
  font-family: 'Poppins', sans-serif;
  color: rgb(237, 237, 237);
}

h1 {
  font-size: 2.6rem;
  font-weight: normal;
}
h2 {
  font-size: 2.2rem;
  font-weight: normal;
}
h3 {
  font-size: 2rem;
  font-weight: normal;
}
h4 {
  font-size: 1.8rem;
  font-weight: normal;
}

h6 {
  font-size: 1.4rem;
  font-weight: normal;
}


button {
  font-family: 'Poppins', sans-serif;
  padding: .5rem 2rem;
  cursor: pointer;
}

.container {
  height: 100%; 
  position: relative;
}

.container::before {
  height: 200vh;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: center/100% url(./images/cool-background.png) repeat-y;
  opacity: .8;
  content: "";
  z-index: -1;
}

a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

/* Start Nav */
.nav {
  min-height: 10vh;
  display: flex;
  padding: 2rem;
  font-size: 1.6rem;
}

/* .logo {
  font-size: 2rem;
} */

ul {
  display: flex;
  list-style-type: none;
}

.nav-item {
  margin-left: 2rem;
}

.nav-right {
  margin-left: auto;
}
/* End Nav */

/* Start Main */
main {
  margin: 5vh 2rem;
  min-height: 80vh;
}

.weight-input-cntr {
  display: flex;
  align-items: center;
  justify-content: center;
}

.weight-input {
  margin: 4rem 0 2rem 0;
  display: flex;
}

.weight-input input {
  margin-left: 2rem;
}

.goal-header-cntr {
  margin: 2rem;
  text-align: center;
}

.goal-cntr {
  display: flex;
  justify-content: space-between;
  margin: 0 2rem;
}

.goal {
  text-align: center;
  border: 1px solid green;
}

/* Start Calculation Section */
.calculation-cntr {
  color: black;
  background: rgb(255, 255, 255);
  margin: 4rem 2rem;
}

.calories-header {
  text-align: center;
  padding-top: 2rem;
  margin-bottom: 2rem;
}

.calories-amnt-cntr {
  margin-bottom: 1rem;
  text-align: center;
}

.calculation-table-cntr {
  display: flex;
  margin: 0 2rem 2rem 2rem;
}

.calculation-title-cntr {
  min-height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 2rem;
}

.calculation-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.calculation-grams {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.calculation-percentage {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.adjust-cntr {
  display: grid;
  place-items: center;
}

.adjust-header {
  text-align: center;
}

.adjust-nav {
  margin: 2rem;
}

.adjust-nav > li > a{
  color: rgb(9, 9, 9);
  font-size: 1.2rem;
  padding: .5rem 2rem;
  border-radius: .2rem;
  cursor: pointer;
}
/* End Calculation Section */


/* Start Food Item Section */
.food-cntr {
  min-height: 45vh;
  color: rgb(9, 9, 9);;
  background: rgb(255, 255, 255);
  margin: 4rem 2rem;
  border: 1px solid red;
}

.food-header {
  display: flex;
  justify-content: space-between;
  margin: 2rem 2rem;
}

.add-food-cntr {
  width: 15rem;
  text-align: center;
}

.food-input-cntr {
  border: 1px solid green;
  display: flex;
  margin: 0 2rem;
}

.food-input input {
  height: 100%;
  margin-right: 2rem;
  width: 15rem;
}

.macros-cntr {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border: 1px solid red;
}

.macro-input {
  display: flex;
}

.macro-input input {
  width: 2.5rem;
}

.food-items-cntr {
  margin: 4rem 2rem;
  border: 1px solid red;
}

.food-items-cntr header {
  width: 15rem;
  margin-left: auto;
  margin-right: 4.5rem;
  display: flex;
  justify-content: space-around;
}

.food-item-macro-header {
  text-align: center;
  width: 5rem;
}

.food-list {
  margin-top: 2rem;
}

.food-list li {
  width: 100%;
  min-height: 2rem;
  display: flex;
}

.food {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 2rem;
  width: 100%;
  text-align: center ;
  border: 1px solid aliceblue;
}

.food p {
  font-size: 1.2rem;
}


.item-macro-cntr {
  border: 1px solid saddlebrown;
  margin-left: auto;
  width: 15rem;
  display: flex;
  justify-content: space-around;
}

.macro {
  width: 5rem;
  margin: auto;
  font-size: 1.2rem;
  text-align: center;
}

/* End Food Item Section */

/* End Main */

